<div class="sidenav"><br>
    <label>Welcome</label>
    <label>{{fname}} </label>
    &nbsp;<div>
        &nbsp;&nbsp; <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
</div>

<div class="main"><br>
    <h2>Welcome to User Dashboard</h2>
    <hr>
    <div class="container-sm">
        <div class="container">
            <div class="alert alert-warning" role="alert">
                <h2>COVID19 Outbreak!</h2>
                <p>Please refrain from any unnecessary travel</p>
            </div>
        </div>

        <div class="container">
            <div class="alert alert-info" role="alert">
                <h2>Track Corona Activity</h2>
                <label>Enter Destination Country:</label>&nbsp;
                <input type="text" id="corona-target" class="form-control"
                    placeholder="Enter Destination Country">&nbsp;<br>
                <button type="button" class="btn btn-info" (click)="display()">Find</button>
            </div>
        </div>

        <div class="container-sm" id="chart">
            <div class="chart-wrapper">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType" height="120vh"
                    width="400vw">
                </canvas>
            </div>
        </div>
    </div>

    <br>
    <div class="container">
        <h3>List of Submitted Tickets</h3>
        <a [routerLink]="['/user/dashboard/addTicket']">
            <h4>Submit a new Ticket</h4>
        </a>
        <table class="table table-bordered table-inverse">
            <tr>
                <th>Ticket Id</th>
                <th>Request Type</th>
                <th>Status</th>
                <th class="text-right">Date Created</th>
            </tr>

            <tr *ngFor="let ticket of user_tickets | paginate: { id: 'listing_pagination',
                                                                itemsPerPage: 5,
                                                                currentPage: page,
                                                                totalItems: totalRec}">
                <td>
                    <a [routerLink]="['/user/dashboard/updateTicket', ticket.id]" class="btn btn-info">
                        {{ticket["id"]}}
                    </a>

                </td>
                <td>
                    {{ticket["requestTye"]}}
                </td>
                <td>
                    {{ticket["status"] || "notProvided"}}
                </td>
                <td class="text-right">
                    {{ticket["dateCreated"].substring(0,10) || "notProvided"}}
                </td>
            </tr>
        </table>
        <div>
            <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event">
            </pagination-controls>
        </div>

    </div>
</div>