<nav class="navbar navbar-light fixed-top bg-dark">
    <div class="container">
        <h1>Welcome to Nagarro Travel</h1>

        <div>
            <button type="button" id="home" class="btn btn-info" (click)="base()">Dashboard</button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>
</nav><br>

<div [hidden]="this.viewingTickets">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">Admin Dashboard</h2>
            <p class="lead">Here you can see the list of submitted tickets</p>
        </div>
    </div>

    <div>
        <ng2-smart-table [settings]="settings" [source]="data" (userRowSelect)="handle(this.$event)"></ng2-smart-table>
    </div>
</div><br>

<div *ngIf="this.viewingTickets">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-4">Ticket Details</h2>
            <h3 *ngIf="show" class="alert alert-info">{{msg}}</h3>
            <p class=" lead">Ticket particulars as mentioned below</p>
        </div>
    </div>
    <hr>
    <div class="container">
        <h2>Details of ticket Id: #{{ticket["ticketId"]}}</h2>
        <ul class="list-group">
            <li class="list-group-item">Ticket Status : {{ticket["status"]}}</li>
            <li class="list-group-item">Priority : {{ticket["priority"]}}</li>
            <li class="list-group-item">From City : {{ticket["fromLocation"]}}</li>
            <li class="list-group-item">To City : {{ticket["toLocation"]}}</li>
            <li class="list-group-item">Start Date : {{ticket["startDate"]}}</li>
            <li class="list-group-item">End Date : {{ticket["endDate"]}} </li>
            <li class="list-group-item">Expense Borne By : {{ticket["expenseBorneBy"]}}
            </li>
            <li class="list-group-item">Travel Duration : {{ticket["durationOfTravel"]}}</li>
            <li class="list-group-item">Project Name : {{ticket["project"]}}</li>
            <li class="list-group-item">Travel Approver Name : {{ticket["approver"]}}</li>
            <li class="list-group-item">Additional Details : {{ticket["additionalDetails"]}}
            </li>
            <li class="list-group-item">Upper Bound on Amount : {{ticket["upperBound"]}}</li>
            <li class="list-group-item">Raised By User Id : {{ticket["user"]["userId"]}}<span class="badge"></span></li>
            <li class="list-group-item">User name : {{ticket["user"]["email"]}}<span class="badge"></span></li>
            <li class="list-group-item">Business Unit : {{ticket["user"]["businessUnit"]}}<span class="badge"></span>
            </li>
            <li class="list-group-item">Title : {{ticket["user"]["title"]}}<span class="badge"></span></li>
        </ul>
        <hr>
        <h3>Add Comments</h3>
        <div class="container">
            <form [formGroup]="uploadForm" (ngSubmit)="submitComment()">
                <br>
                <label>Comment:</label>&nbsp;
                <input type="text" class="form-control" id="comments" placeholder="Enter comments . . ." name="comment"
                    #comment required>
                <br>
                <div class="form-group form-control">
                    <label>Upload a document:</label>&nbsp;
                    <input type="file" name="file" (change)="onFileSelect($event)" #file id="file">
                </div>
                <div class="form-group form-control">
                    <label>Change status:</label>&nbsp;
                    <select name="status" id="status" #status>
                        <option value="Submitted">Submitted</option>
                        <option value="Resubmitted">ReSubmitted</option>
                        <option value="In Process">In Process</option>
                        <option value="Done">Done</option>
                    </select>
                </div>

            </form>
            <div class="container">
                <button type="button" class="btn btn-info" (click)="submitComment()">Upload and Add</button>
            </div>

        </div>
    </div>


</div>