.form {
    border: solid 2px green;
    padding-top: 3%;
}

.input {
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.bottom {
    padding-bottom: 3%;
    padding-left: 35%;
}

.container-sm {
    padding-left: 4%;
    padding-top: 6%;
}

.med{
    padding-left: 2%;
    padding-right: 2%;
}
