<br>
<br><br>
<p>admin-login-form works!</p>

<div class="container-sm col-6">
    <form class="form">
        <div class="input">
            <label for="username">Enter Username</label>
            <input type="text" class="form-control" id="username" required>
        </div>
        <div class="input">
            <label for="password">Enter Password</label>
            <input type="password" class="form-control" id="password" required>
        </div>
        <br>
        <div class="bottom">
            <button type="button" class="btn btn-success">Login as Admin</button>
        </div>
    </form>
</div>