<br><br><br>

<p>edit-ticket works!</p>

<div class="container">
    <div class="container">
        <h2>Ticket Details</h2>
        <p>You might want to update some details...Don't worry we have it covered!</p>
        <form action="/action_page.php">
            <div class="row">
                <div class="col">
                    <label>Ticket Id</label>
                    <input type="text" class="form-control" id="tid" name="id" value="{{ticket_id}}" disabled>
                </div>
                <div class="col">
                    <label>Status</label>
                    <input type="text" class="form-control" value="{{ticketDetails.status}}" name="pswd"
                        [disabled]="editable">
                </div>
                <div class="col">
                    <label>Request Type</label>
                    <input type="text" class="form-control" value="{{ticketDetails.requestType}}" name="pswd"
                        [disabled]="editable">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label>Priority</label>
                    <input type="text" class="form-control" id="tid" name="id" value="{{ticketDetails.priority}}"
                        [disabled]="editable">
                </div>
                <div class="col">
                    <label>From Location</label>
                    <input type="text" class="form-control" value="{{ticketDetails.fromLocation}}" name="pswd"
                        [disabled]="editable">
                </div>
                <div class="col">
                    <label>To Location</label>
                    <input type="text" class="form-control" value="{{ticketDetails.toLocation}}" name="pswd"
                        [disabled]="editable">
                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <label>Date Created</label>
                    <input type="text" class="form-control" id="tid" name="id" value="{{ticketDetails.dateCreated}}"
                        [disabled]="editable">
                </div>
                <div class="col">
                    <label>Last Updated</label>
                    <input type="text" class="form-control" value="{{ticketDetails.dateUpdated}}" name="pswd"
                        [disabled]="editable">
                </div>
                <div class="col">
                    <label>Expense Borne By</label>
                    <input type="text" class="form-control" value="{{ticketDetails.expenseBorneBy}}" name="pswd"
                        [disabled]="editable">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label>Travel Start Date</label>
                    <input type="text" class="form-control" id="tid" name="id" value="{{ticketDetails.startDate}}"
                        [disabled]="editable">
                </div>
                <div class="col">
                    <label>Travel End Date</label>
                    <input type="text" class="form-control" value="{{ticketDetails.endDate}}" name="pswd"
                        [disabled]="editable">
                </div>
                <div class="col">
                    <label>Travel Approved By</label>
                    <input type="text" class="form-control" value="{{ticketDetails.travelApproverName}}" name="pswd"
                        [disabled]="editable">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label>Upper Bound On Amount</label>
                    <input type="text" class="form-control" id="tid" name="id"
                        value="{{ticketDetails.upperBoundOnAmount}}" [disabled]="editable">
                </div>
                <div class="col">
                    <label>Passport Number</label>
                    <input type="text" class="form-control" value="{{ticketDetails.passportNumber}}" name="pswd"
                        [disabled]="editable">
                </div>
                <div class="col">
                    <label>Processed By</label>
                    <input type="text" class="form-control" value="{{ticketDetails.processedBy || 'Not yet processed'}}"
                        name="pswd" [disabled]="editable">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label>Duration</label>
                    <input type="text" class="form-control" id="tid" name="id" value="{{ticketDetails.duration}}"
                        [disabled]="editable">
                </div>
                <div class="col">
                    <label>Additonal Information</label>
                    <input type="text" class="form-control" value="{{ticketDetails.additionalDetails}}" name="pswd"
                        [disabled]="editable">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary mt-3" (click)="makeEdits()">Edit</button>&nbsp;
            <button type="submit" class="btn btn-primary mt-3" (click)="cancel()">Cancel</button>
        </form>
    </div>
</div>