<br>
<div class="container">
    <div class="container">
        <h2>Ticket Details</h2>
        <div [hidden]="valid">
            <p>You might want to update some details...Don't worry we have it covered!</p>
        </div>
        <div [hidden]="!valid">
            <p>{{msg}}</p>
        </div>
        <hr>
        <form novalidate>
            <div class="row">
                <div class="col">
                    <label>Ticket Id</label>
                    <input type="text" class="form-control" id="ticketId" name="id" value="{{ticket_id}}" disabled>
                </div>
                <div class="col">
                    <label>Status</label>
                    <input type="text" class="form-control" id="status" value="{{ticketDetails.status}}" name="pswd"
                        disabled>
                </div>
                <div class="col">
                    <label>Request Type</label>
                    <select class="form-control" id="requestType" value="{{ticketDetails.requestType}}" name="pswd"
                        [disabled]="editable">
                        <option value="Travel Tickets">Travel Tickets</option>
                        <option value="Hotel Stay">Hotel Stay</option>
                        <option value="Visa">Visa</option>
                        <option value="Work Permit">Work Permit</option>
                    </select>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label>Priority</label>
                    <select class="form-control" id="priority" name="id" value="{{ticketDetails.priority}}"
                        [disabled]="editable">
                        <option value="Urgent">Urgent</option>
                        <option value="Immediate">Immediate</option>
                        <option value="Normal">Normal</option>
                    </select>
                </div>
                <div class="col">
                    <label>From Location</label>
                    <select class="form-control" id="fromcity" value="{{ticketDetails.fromLocation}}" name="pswd"
                        [disabled]="editable">
                        <option value="Dhanbad">Dhanbad</option>
                        <option value="Ranchi">Ranchi</option>
                        <option value="Jamshedpur">Jamshedpur</option>
                    </select>
                </div>
                <div class="col">
                    <label>To Location</label>
                    <select class="form-control" id="tocity" value="{{ticketDetails.toLocation}}" name="pswd"
                        [disabled]="editable">
                        <option value="Dhanbad">Dhanbad</option>
                        <option value="Ranchi">Ranchi</option>
                        <option value="Jamshedpur">Jamshedpur</option>
                    </select>

                </div>
            </div><br>
            <div class="row">
                <div class="col">
                    <label>Date Created</label>
                    <input type="date" class="form-control" id="dateCreated" name="id"
                        value="{{ticketDetails.dateCreated}}" disabled>
                </div>
                <div class="col">
                    <label>Last Updated</label>
                    <input type="text" class="form-control" id="dateUpdated" value="{{ticketDetails.dateUpdated}}"
                        name="pswd" disabled>
                </div>
                <div class="col">
                    <label>Expense Borne By</label>
                    <select class="form-control" id="expense" value="{{ticketDetails.expenseBorneBy}}" name="pswd"
                        [disabled]="editable">
                        <option value="Client">Client</option>
                        <option value="Nagarro">Nagarro</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label>Travel Start Date</label>
                    <input type="date" class="form-control" id="startDate" name="id" value="{{ticketDetails.startDate}}"
                        [disabled]="editable">
                </div>
                <div class="col">
                    <label>Travel End Date</label>
                    <input type="date" class="form-control" id="endDate" value="{{ticketDetails.endDate}}" name="pswd"
                        [disabled]="editable">
                </div>
                <div class="col">
                    <label>Travel Approved By</label>
                    <input type="text" id="approver" class="form-control" value="{{ticketDetails.travelApproverName}}"
                        name="pswd" [disabled]="editable">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label>Duration</label>
                    <input type="text" id="duration" class="form-control" name="id" value="{{ticketDetails.duration}}"
                        [disabled]="editable">
                </div>

                <div class="col">
                    <label>Passport Number</label>
                    <input type="text" class="form-control" id="passport" value="{{ticketDetails.passportNumber}}"
                        name="pswd" [disabled]="editable">
                </div>
                <div class="col">
                    <label>Processed By</label>
                    <input type="text" class="form-control" id="processed"
                        value="{{ticketDetails.processedBy || 'Not yet processed'}}" name="pswd" disabled>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col">
                    <label>Upper Bound On Amount</label>
                    <textarea type="text" class="form-control" id="upperBound" name="id" rows="5"
                        value="{{ticketDetails.upperBoundOnAmount}}" [disabled]="editable"></textarea>
                </div>
                <div class="col">
                    <label>Project</label>
                    <textarea class="form-control" id="project" value="{{ticketDetails.project}}" rows="5"
                        maxlength="500" [disabled]="editable"></textarea>
                </div>
                <div class="col">
                    <label>Additonal Information</label>
                    <textarea class="form-control" id="additionalInformation"
                        value="{{ticketDetails.additionalDetails}}" rows="5" maxlength="1000"
                        [disabled]="editable"></textarea>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary mt-3" (click)="makeEdits()">Edit</button>&nbsp;
            <button type="submit" class="btn btn-primary mt-3" (click)="cancel()">Cancel</button>&nbsp;
            <button type="submit" class="btn btn-primary mt-3" (click)="update()">ReSubmit</button>
        </form>
    </div>
</div>
<hr>
<div class="container">
    <h3>Responses from Admin Panel.</h3>
    <p>A list of comments and related documents.</p>
    <div>
        <div class="card" *ngFor="let comment of comments">
            <div class="card-body">
                <h5 class="card-title">{{comment.adminId}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Admin Id</h6>
                <p class="card-text">{{comment.comments}}</p>
                <a class="card-link" href="#">{{comment.fileName}}</a>
                <button class="btn btn-primary" (click)="display(comment)">Download</button>
            </div>
        </div>
    </div>
</div>