#username, #password {
    max-width: 70%;
    display: inline-block;
}
#forgot {
    color : rgba(236, 21, 5, 0.664)
}

.form-div {
    padding-left: 10%;
    padding-top: 8%;
    padding-right: 10%;
    padding-bottom: 8%;
    border: groove;
}

.ng-invalid:not(form).ng-touched {
    border: 1px solid red;
}

#top-container {
    padding-top: 2%;
}

.field-error {
    border: solid 1px red;
}