#username, #password {
    max-width: 70%;
    display: inline-block;
}
#forgot {
    color : rgba(236, 21, 5, 0.664)
}

.form-div {
    padding-left: 10%;
    padding-top: 8%;
    padding-right: 10%;
    padding-bottom: 8%;
    border: 3px solid white;
    border-radius: 8px 8px 8px 8px;
}

.ng-invalid:not(form).ng-touched {
    border: 1px solid red;
}

#top-container {
    padding-top: 2%;
}

.field-error {
    border: solid 1px red;
}

.bg-image {
    /* The image used */
    background-image: url("media/beach.png");
    
    
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
    
    /* Full height */
    height: 600px; 
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: initial;
    position: relative;

   
    
  }

  /* Position text in the middle of the page/image */
.bg-text {
    position: relative;
    z-index: 100;
    color: white;
    font-size: medium;
  }