<p>user-reg-form works!</p>

<div class="container">
    <form class="form">
        Enter First Name: <input type="text" id="fname" placeholder="Enter First Name" required><br><br>
        Enter Last Name: <input type="text" id="lname" placeholder="Enter Last Name" required><br><br>

        Enter Email Id: <input type="email" id="email" placeholder="Enter Email Id" required><br><br>

        Enter Business Unit: <input type="text" id="bUnit" placeholder="Enter Business Unit" required><br><br>
        Enter Title: <input type="text" id="title" placeholder="Enter title" required><br><br>
        Enter Telephone: <input type="number" id="telephone" placeholder="Enter Telephone" required><br><br>

        Enter Address1: <input type="text" id="add1" placeholder="Enter Address1" required><br><br>
        Enter Address2: <input type="text" id="add2" placeholder="Enter Address2"><br><br>

        Enter Country:
        <select id="country" placeholder="Enter Country">
        </select>

        <br><br>
        Enter State:
        <select id="state" placeholder="Enter State">
        </select>

        <br><br>

        Enter City:
        <select id="country" placeholder="Enter City">
        </select>

        <br><br>

        Enter Zip Code: <input type="text" id="zip" placeholder="Enter Zip Code" required><br><br>

        <!-- <button *ngIf="submitter" type="submit" id="registerButton" (click)="review()">Submit
            Details</button><br><br> -->
        <button type="submit" id="registerButton" (click)="review()">Submit
            Details</button><br><br>

        <!-- <div class="reviewContainer" *ngIf="showReview">
            <button type="button" id="printButton">Print</button>
            <button type="button" id="EditButton">Edit</button>
            <button type="button" id="backToLoginButton">Return to Home Page</button>
        </div> -->

        <div id="reviewContainer">
            <button type="button" id="printButton">Print</button>
            <button type="button" id="EditButton">Edit</button>
            <button type="button" id="backToLoginButton">Return to Home Page</button>
        </div>

    </form>
</div>