@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
.container {
    width: 500px;
    clear: both;
  }
  
  .container input, select {
    width: 100%;
    clear: both;
  }

  h2 {
    padding-left: 32%;
  }

  * {
    font-family: 'Ubuntu', sans-serif;
  }

  input.submitted.ng-invalid
{
  border:1px solid #f00;
}
h1 {
  color:white;
  padding-left: 31%;
}

.navbar {
  display: block;
  *display:inline; /* Internet Explorer 7 compatibility */
}