<br>
<h2>User Registration Form</h2>
<hr>
<br>
<div class="container" *ngIf="!editable">
    <form class="form" [formGroup]="userForm" (ngSubmit)="submitUserForm(userForm.value)" novalidate>
        <div *ngIf="validMessage">
            <h3 class="alert alert-danger">{{validMessage}}</h3>
        </div>
        <div class=" form-group">
            Enter First Name: <input formControlName="firstName" class="form-control" type="text" id="fname"
                placeholder="Enter First Name" required><br>
        </div>
        <div class="form-group">
            Enter Last Name: <input formControlName="lastName" class="form-control" type="text" id="lname"
                placeholder="Enter Last Name" required><br>
        </div>
        <div class="form-group">
            Enter Email Id: <input formControlName="email" class="form-control" type="email" id="email"
                placeholder="Enter Email Id" required><br>
        </div>
        <div class="form-group">
            Enter Business Unit: <input formControlName="businessUnit" class="form-control" type="text" id="bUnit"
                placeholder="Enter Business Unit" required><br>
        </div>
        <div class="form-group">
            Enter Title: <input formControlName="title" class="form-control" type="text" id="title"
                placeholder="Enter title" required><br>
        </div>
        <div class="form-group">
            Enter Telephone: <input formControlName="telephone" class="form-control" type="text" id="telephone"
                placeholder="Enter Telephone" maxlength="15" minlength="10" required><br>
        </div>
        <div class="form-group">
            Enter Address1: <input formControlName="address1" class="form-control" type="text" id="add1"
                placeholder="Enter Address1" required><br>
        </div>
        <div class="form-group">
            Enter Address2: <input formControlName="address2" class="form-control" type="text" id="add2"
                placeholder="Enter Address2"><br><br>
        </div>
        <div class="form-group">
            Enter Country:
            <select id="country" placeholder="Enter Country" class="form-control" (ngModelChange)="getState($event)"
                formControlName="country" required>
                <option *ngFor="let c of country" value='{{c["name"]}}'>{{c["name"]}}</option>
            </select>
            <br><br>
        </div>
        <div class="form-group">
            Enter State:
            <select id="state" placeholder="Enter State" class="form-control" (ngModelChange)="getCity($event)"
                formControlName="state" required>
                <option *ngFor="let c of state" value='{{c["name"]}}'>{{c["name"]}}</option>
            </select>
            <br><br>
        </div>

        <div class="form-group">
            Enter City:
            <select id="city" placeholder="Enter City" class="form-control" (ngModelChange)="getValue($event)"
                formControlName="city" required>
                <option *ngFor="let c of city" value='{{c["name"]}}'>{{c["name"]}}</option>
            </select>
            <br><br>
        </div>

        <div class="form-group">
            Enter Zip Code: <input formControlName="zip" class="form-control" type="text" id="zip"
                placeholder="Enter Zip Code" required><br><br>
        </div>
        <button type="submit" class="btn btn-primary" id="registerButton">Submit
            Details</button><br><br>
    </form>
</div>

<div class="container" *ngIf="editable">
    <h3>REGISTRATION CONFIRMATION</h3>
    <hr>
    <h5>Thank You for registering. The admin team will contact you shortly with your username and password!</h5>
    <hr>

    <div class="submissionDetails">
        <label>Name</label>&nbsp;:&nbsp;<label>{{values.firstName}}&nbsp;{{values.lastName}}</label><br>
        <label>Business Unit</label>&nbsp;:&nbsp;<label>{{values.businessUnit}}</label> <br>
        <label>Title</label>&nbsp;:&nbsp;<label>{{values.title}}</label><br>
        <label>E-mail</label>&nbsp;:&nbsp;<label>{{values.email}}</label><br>
        <label>Telephone</label>&nbsp;:&nbsp;<label>{{values.telephone}}</label><br>
        <label>Address 1</label>&nbsp;:&nbsp;<label>{{values.address1}}</label><br>
        <label>Address 2</label>&nbsp;:&nbsp;<label></label>{{values.address2}}<br>
        <label>City</label>&nbsp;:&nbsp;<label>{{values.city}}</label><br>
        <label>State</label>&nbsp;:&nbsp;<label>{{values.state}}</label><br>
        <label>Zip</label>&nbsp;:&nbsp;<label>{{values.zip}}</label><br>
        <label>Country</label>&nbsp;:&nbsp;<label>{{values.country}}</label><br>

        <div class="buttons">
            <button type="button" class="btn btn-info" (click)="print()">Print</button>&nbsp;
            <button type="button" class="btn btn-info" (click)="basic()">Edit</button>&nbsp;
            <button type="button" class="btn btn-info" [routerLink]="['../']">Return to Home Page</button>
        </div>



    </div>
</div>