<br><br>
<p>forgotpassword works!</p>

<br><br>
<div class="outer">
    <div class="main col-9">
        <br>
        <div [hidden]="!this.valid" class="alert alert-danger">
            {{this.message}}
        </div>
        <form class="form-div"><br>
            <div class="form-input">
                <label for="email">Enter mail id</label>&nbsp;&nbsp;
                <input type="email" class="form-control" id="email" placeholder="...@nagarro.com">
            </div>
            <br><br>
            <div class="container-sm">
                <button type="button" class="btn btn-success" (click)="remind()">Remind Me</button>
                &nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-info" [routerLink]="'/user'">Back to Home</button>
            </div>
            <div class="container-sm">

            </div>
        </form>
    </div>
</div>