@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    color:white;
    padding-left: 31%;
}

.navbar {
    display: block;
}