<nav class="navbar navbar-light bg-dark">
    <div class="container">
        <h1>Welcome to Nagarro Travel</h1>
        <div>
            <button type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        </div>
    </div>

</nav>


<div class="container col-8" *ngIf="!confirmation"><br>
    <h2>Add a new Ticket Request</h2><br>
    <hr>
    <div [hidden]="!this.valid">
        <button type="button" class="btn btn-success" disabled>{{msg}}</button>
    </div>
    <br>
    <form [formGroup]="ticketForm" (ngSubmit)="showView(ticketForm.value)" novalidate>
        <div class="form-select">
            <label for="Request">Request Type</label>
            <select class="form-control" formControlName="requestType" id="requestType" required>
                <option>Travel Tickets</option>
                <option>Hotel Stay</option>
                <option>Visa</option>
                <option>Work Permit</option>
            </select>
        </div>
        <br>
        <div class="form-select">
            <label for="select">Priority</label>
            <select class="form-control" formControlName="priority" id="priority" required>
                <option>Urgent</option>
                <option>Immediate</option>
                <option>Normal</option>
            </select>
        </div>
        <br>
        <br>
        <div class="form-select">
            <label for="select">Destination Travel City</label>
            <select class="form-control" formControlName="tocity" id="city" required>
                <option value="Tokyo">Tokyo</option>
                <option value="Berlin">Berlin</option>
                <option value="Frankfurt">Frankfurt</option>
                <option value="London">London</option>
                <option value="Dubai">Dubai</option>
                <option value="Paris">Paris</option>
                <option value="Munich">Munich</option>
                <option value="Zurich">Zurich</option>
                <option value="Delhi">Delhi</option>
                <option value="Kolkata">Kolkata</option>
                <option value="New York">New York</option>
                <option value="Rome">Rome</option>
                <option value="Jakarta">Jakarta</option>
                <option value="Canberra">Canberra</option>
                <option value="Johannesburg">Johannesburg</option>
                <option value="Chennai">Chennai</option>
            </select>
        </div>
        <br>
        <div class="form-select">
            <label for="select">Departure City</label>
            <select class="form-control" formControlName="fromcity" id="city" required>
                <option value="Tokyo">Tokyo</option>
                <option value="Berlin">Berlin</option>
                <option value="Frankfurt">Frankfurt</option>
                <option value="London">London</option>
                <option value="Dubai">Dubai</option>
                <option value="Paris">Paris</option>
                <option value="Munich">Munich</option>
                <option value="Zurich">Zurich</option>
                <option value="Delhi">Delhi</option>
                <option value="Kolkata">Kolkata</option>
                <option value="New York">New York</option>
                <option value="Rome">Rome</option>
                <option value="Jakarta">Jakarta</option>
                <option value="Canberra">Canberra</option>
                <option value="Johannesburg">Johannesburg</option>
                <option value="Chennai">Chennai</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="select">Travel Start Date</label>
            <input type="date" class="form-control" formControlName="startDate" id="startDate" #startD
                min="{{date.toISOString().split('T')[0]}}" placeholder="enter start date" required>
        </div>
        <br>
        <div class="form-group">
            <label for="select">Travel End Date</label>
            <input type="date" id="endDate" class="form-control" formControlName="endDate" (click)="getDate()"
                min="{{endDate.toISOString().split('T')[0]}}" placeholder="enter end date" required>
        </div>
        <br>
        <div class="form-group">
            <label for="pno">Passport Number</label>
            <input type="number" class="form-control" formControlName="passport" placeholder="enter passport number"
                maxlength="25" required>
        </div>
        <br>
        <div class="form-group">
            <label for="pno">Project</label>
            <textarea class="form-control" id="project" formControlName="project" rows="3" required></textarea>
        </div>
        <br>
        <div class="form-group">
            <label for="expenseBearer">Expenses Borne By</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="expense" name="expense" value="Client"
                    checked>
                <label class="form-check-label" for="exampleRadios1">
                    Client
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="expense" name="expense" value="Nagarro">
                <label class="form-check-label" for="exampleRadios2">
                    Nagarro
                </label>
            </div>
        </div><br>

        <div class="form-group">
            <label for="pno">Travel Approver Name</label>
            <input type="text" formControlName="approver" class="form-control" placeholder="Enter Travel Approver Name"
                maxlength="100">
        </div>

        <div class="form-group">
            <label for="pno">Expected Duration Of Travel</label>
            <input type="text" formControlName="duration" class="form-control" placeholder="Enter travel duration"
                maxlength="100">
        </div>
        <br>
        <div class="form-group">
            <label for="pno">Upper Bound on Amount? If yes then specify...</label>
            <textarea class="form-control" formControlName="upperBound" id="exampleFormControlTextarea1" rows="4"
                maxlength="500"></textarea>
        </div>

        <br>

        <div class="form-group">
            <label for="pno">Any Additional Details</label>
            <textarea class="form-control" formControlName="additionalInformation" id="exampleFormControlTextarea1"
                rows="5" maxlength="1000" required></textarea>
        </div>
        <br>
        <div class="container-sm" *ngIf="!viewEdit">
            <button type="submit" class="btn btn-primary">Confirm</button>
        </div>
        <br>
    </form>

    <div>
        <div class="container-sm" *ngIf="viewEdit">
            <button type="submit" class="btn btn-primary" (click)="printView()">Print</button>&nbsp;
            <button type="submit" class="btn btn-primary" (click)="editView()">Edit</button>&nbsp;
            <button type="submit" class="btn btn-primary">Go to Home Page</button>&nbsp;
        </div>
    </div>
</div>

<div class="container" *ngIf="confirmation">
    <div [hidden]="valid">
        <h3>TICKET SUBMISSION CONFIRMATION</h3>
        <hr>
        <h5>The admin team will process your ticket shortly after you click on Submit button below!</h5>
        <hr>
    </div><br>
    <div [hidden]="!valid">
        <button type="button" class="btn btn-success" disabled>{{msg}}</button>
    </div>

    <div class="submissionDetails">
        <label>Request Type</label>&nbsp;:&nbsp;<label>{{values.requestType}}</label><br>
        <label>Priority</label>&nbsp;:&nbsp;<label>{{values.priority}}</label> <br>
        <label>Travel City</label>&nbsp;:&nbsp;<label>{{values.tocity}}</label><br>
        <label>From Location City</label>&nbsp;:&nbsp;<label>{{values.fromcity}}</label><br>
        <label>Travel Start Date</label>&nbsp;:&nbsp;<label>{{values.startDate}}</label><br>
        <label>Travel End Date</label>&nbsp;:&nbsp;<label>{{values.endDate}}</label><br>
        <label>Passport Number</label>&nbsp;:&nbsp;<label></label>{{values.passport}}<br>
        <label>Project Name</label>&nbsp;:&nbsp;<label>{{values.project}}</label><br>
        <label>Expense Borne By</label>&nbsp;:&nbsp;<label>{{values.expense}}</label><br>
        <label>Travel Approver Name</label>&nbsp;:&nbsp;<label>{{values.approver}}</label><br>
        <label>Expected Duration of Travel</label>&nbsp;:&nbsp;<label>{{values.duration}}</label><br>
        <label>Upper Bound on Amount</label>&nbsp;:&nbsp;<label>{{values.upperBound}}</label><br>
        <label>Addition Details</label>&nbsp;:&nbsp;<label>{{values.additionalInformation}}</label><br>
        <br><br>
        <div class="buttons">
            <button type="button" class="btn btn-info" (click)="print()">Print</button>&nbsp;
            <button [hidden]="!finallySubmitted" type="button" class="btn btn-info"
                (click)="basic()">Edit</button>&nbsp;
            <button type="button" class="btn btn-info" (click)="addTicket()">Submit Ticket</button>&nbsp;
            <button type="button" class="btn btn-info" [routerLink]="['../']">Return to Dashboard</button>
        </div>



    </div>
</div>